{% extends 'base.html' %}

{% load static %}

  {% block wellcome %}
   <div class="row pt-4 mb-5 text-center">
        <div class="col-12">
          <h2 class="text-white mb-4">Please Read About Our Service</h2>
        </div>
      </div>
    {% endblock wellcome  %}

       {% block title %}<title>About N&R</title>{% endblock title %}
     {% block content %}
       
       {% for b in bio %}
        <div class="col-md-6 pt-4 text-center">
          <figure class="mb-5" data-aos="fade-up">
            <img src="{{ b.aboutimg.url }}" alt="Image" class="img-fluid">
          </figure>

          <h2 class="text-white mb-4" data-aos="fade-up">{{ b.titlebio }}</h2>

          <div class="row" data-aos="fade-up">
            <div class="col-md-12">
              <p>{{ b.about }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
{% endblock content %}
     